# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
staticfiles/
media/

# Local database (optional)
db.sqlite3

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db
