{% extends 'base.html' %}
{% block body_class %}theme-trainers{% endblock %}
{% block title %}Trainer Details | Gym Manager{% endblock %}
{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">Trainer Details</h3>
    <div>
      <a class="btn btn-outline-primary" href="{% url 'trainers:edit' object.pk %}">Edit</a>
      <a class="btn btn-outline-danger" href="{% url 'trainers:delete' object.pk %}">Delete</a>
      <a class="btn btn-secondary" href="{% url 'trainers:list' %}">Back</a>
    </div>
  </div>
  <dl class="row">
    <dt class="col-sm-3">Trainer ID</dt>
    <dd class="col-sm-9">{{ object.employee_id }}</dd>

    <dt class="col-sm-3">Trainer Name</dt>
    <dd class="col-sm-9">{{ object.first_name }} {{ object.last_name }}</dd>

    <dt class="col-sm-3">Contact</dt>
    <dd class="col-sm-9">{{ object.contact }}</dd>

    <dt class="col-sm-3">Specialization</dt>
    <dd class="col-sm-9">{{ object.specialization }}</dd>
  </dl>
{% endblock %}
