{% extends 'base.html' %}
{% block title %}Member Details | Legit Fitness{% endblock %}
{% block body_class %}theme-members{% endblock %}
{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="mb-0">Member Details</h3>
    <div>
      <a class="btn btn-outline-primary" href="{% url 'members:edit' object.pk %}">Edit</a>
      <a class="btn btn-outline-danger" href="{% url 'members:delete' object.pk %}">Delete</a>
      <a class="btn btn-secondary" href="{% url 'members:list' %}">Back</a>
    </div>
  </div>
  <dl class="row">
    <dt class="col-sm-3">Member ID</dt>
    <dd class="col-sm-9">{{ object.member_id }}</dd>

    <dt class="col-sm-3">Member Name</dt>
    <dd class="col-sm-9">{{ object.name }}</dd>

    <dt class="col-sm-3">Contact</dt>
    <dd class="col-sm-9">{{ object.contact }}</dd>

    <dt class="col-sm-3">Address</dt>
    <dd class="col-sm-9">{{ object.address|linebreaksbr }}</dd>

    <dt class="col-sm-3">Date of Joining</dt>
    <dd class="col-sm-9">{{ object.date_of_joining }}</dd>

    <dt class="col-sm-3">Membership Due Date</dt>
    <dd class="col-sm-9">{{ object.membership_due_date }}</dd>
  </dl>
{% endblock %}
